name: GitHub Deposuna Imaj Yukle

on:
  push:
    branches: [ "main" ]

jobs:
  push_to_ghcr:
    runs-on: ubuntu-latest
    permissions: # GitHub deposuna yazma izni veriyoruz
      contents: read
      packages: write
    steps:
      - name: Kodu Cek
        uses: actions/checkout@v3

      - name: GitHub Container Registry'ye Login Ol
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }} # Bunu sen olusturmadın, GitHub otomatik verir

      - name: Build et ve Pushla
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          # Imaj adını GitHub kullanıcı adınla eşliyoruz
          tags: ghcr.io/${{ github.repository }}:latest
