name: AWS Otomatik Dagitim (CD)

on:
  push:
    branches: [ "main" ]

jobs:
  build_and_push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v3

      - name: GHCR Login
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: ghcr.io/mehmetbayram9000/devops:latest

  deploy_to_aws:
    needs: build_and_push
    runs-on: ubuntu-latest
    steps:
      - name: SSH ile AWS'ye baglan ve Guncelle
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.AWS_HOST }}
          username: ${{ secrets.AWS_USERNAME }}
          key: ${{ secrets.AWS_SSH_KEY }}
          script: |
            sudo docker login ghcr.io -u ${{ github.actor }} -p ${{ secrets.GITHUB_TOKEN }}
            sudo docker rm -f web_sunucum || true
            sudo docker pull ghcr.io/mehmetbayram9000/devops:latest
            sudo docker run -d -p 5000:5000 --name web_sunucum ghcr.io/mehmetbayram9000/devops:latest
