- name: SSH ile AWS'ye baglan ve Guncelle
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.AWS_HOST }}
          username: ${{ secrets.AWS_USERNAME }}
          key: ${{ secrets.AWS_SSH_KEY }}
          script: |
            # GHCR'ye giris yap
            echo ${{ secrets.GITHUB_TOKEN }} | sudo docker login ghcr.io -u ${{ github.actor }} --password-stdin
            # Mevcut konteyniri durdur ve sil
            sudo docker rm -f web_sunucum || true
            # EN YENI IMAJI ZORLA CEK (Bu satir cok onemli!)
            sudo docker pull ghcr.io/mehmetbayram9000/devops:latest
            # Yeni imajla baslat
            sudo docker run -d -p 5000:5000 --name web_sunucum ghcr.io/mehmetbayram9000/devops:latest
